<div class="app-details" *ngIf="selectedApp">
  <div class="app-header">
    <img [src]="selectedApp.image_url" alt="app icon" class="app-icon">
    <div class="app-info"> 
      <h1>{{selectedApp.title}}</h1>
      <p>{{selectedApp.creator}}</p> 
      <div class="app-stats"> <!-- add this div to wrap the rating and downloads -->
        <p style="margin-bottom: 0.5rem;">{{selectedApp.rating}} ★</p> <!-- add the reviews count here -->
        <p>{{selectedApp.comments_ratings.length}} Reviews | {{selectedApp.downloads | shorten }}<img style="margin-left: 0.2rem;margin-bottom: 0.2rem;width: 1.1rem; height: 1.3rem;" src="./assets/img/app-items/downloads.png" alt="Download icon"></p> 
      </div>
      <button>Download {{selectedApp.version}}Mb</button>
    </div>
  </div>
  
  <div class="app-description">
    <h2>Description</h2>
    <p>{{selectedApp.description}}</p>
  </div>
  
  <div class="app-screenshots">
    <h2>Screenshots</h2>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
     <div ngxSlickItem *ngFor="let screenshot of selectedApp.screenshots" class="slide">
      <img [src]="screenshot" alt="app screenshot">
     </div>
    </ngx-slick-carousel>

</div>
    
   
   <div style="width: 80%">
    <h2>Reviews</h2>
  </div>
  <div style="width: 80%">
    <div class="app-reviews">
      <ul>
        <li *ngFor="let review of selectedApp.comments_ratings" class="review">
          <h5 class="user">{{review.recid}}</h5> 
          <div class="rating-container">
            <span class="rating-number"></span>
            <ngb-rating [(rate)]="review.rating" [max]="5" [readonly]="true"></ngb-rating>
          </div>
          <p class="comment">{{review.comment}}</p>
          <time class="date">{{review.date_submitted}}</time>
        </li>
      </ul>
    </div>
    
    
  <div style="width: 80%">
    <h2>Details</h2>
    <ul>
      <li>Size: NoSize</li>
      <li>Version: {{selectedApp.version}}</li>
      <li>Category: {{selectedApp.category}}</li>
      <li>Developer: {{selectedApp.creator}}</li>
    </ul>
  </div>
  <!-- <div class="app-permissions">
    <h2>Permissions</h2>
    <ul>
      <li *ngFor="let permission of selectedApp.permissions">• {{permission}}</li>
    </ul>
  </div> -->

  <!-- add a button element with a click event that calls the goBack function -->
  <button class="back-button" (click)="goBack()">Back</button>

</div>
