<div class="app-details" *ngIf="selectedApp">
  <div class="app-header">
    <img [src]="selectedApp.image_url ? selectedApp.image_url : defaultAppIcon" alt="app icon" class="app-icon">
    <ng-template #defaultIcon>
      <img [src]="defaultAppIcon" alt="default icon" class="app-icon">
    </ng-template>    <div class="app-info">
      <h1>{{selectedApp.title}}</h1>
      <p>{{selectedApp.creator}}</p>
      <div class="app-stats">
        <p style="margin-bottom: 0.5rem;">{{selectedApp.rating}} ★</p>
        <p>{{selectedApp.comments_ratings!.length}} {{'reviews' | translate}} | {{selectedApp.downloads! | shorten }}<img style="margin-left: 0.2rem;margin-bottom: 0.2rem;width: 1.1rem; height: 1.3rem;" [src]="downloadIcon" alt="Download icon"></p>
      </div>
      <button (click)="downloadApp()">{{'download' | translate}} {{selectedApp.size}}Mb</button>
    </div>
  </div>

  <div class="app-description">
    <h2>{{'description' | translate}}</h2>
    <p>{{selectedApp.description}}</p>
  </div>

<div class="app-screenshots">
  <h2>{{'screenshots' | translate}}</h2>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
   <div ngxSlickItem *ngFor="let screenshot of selectedApp.screenshots; let i = index" class="slide">
    <img [src]="screenshot" alt="app screenshot" (click)="openLightbox(i)">
   </div>
  </ngx-slick-carousel>
</div>



   <div style="width: 80%">
    <h2>{{'reviews' | translate}}</h2>
  </div>
  <div style="width: 80%">
    <div class="app-reviews">
      <ul style="flex-direction: column;">
        <li *ngFor="let review of selectedApp.comments_ratings | slice:0:3" class="review">
          <p class="user">{{review.username}}</p>
          <div class="rating-container">
            <span class="rating-number"></span>
            <ngb-rating [(rate)]="review.rating" [max]="5" [readonly]="true"></ngb-rating>
            <time class="date">{{review.date_submitted | date:'dd/MM/yyyy'}}</time>
          </div>
          <p class="comment">{{review.comment}}</p>
        </li>
      </ul>
      <button *ngIf="selectedApp.comments_ratings!.length>3" class="show-all-button" (click)="showAllReviews()">{{'view.all.reviews' | translate}}</button>
      <form (submit)="submitReview()">
        <div class="mb-3">
          <label for="reviewInput" class="h4">{{'rate.this.app' | translate}}</label>
          <section class="rating-container">
            <ngb-rating [(rate)]="rating" [max]="5" [readonly]="false" class="user-rating" (rateChange)="showComment()"></ngb-rating>
          </section>
    
          <div *ngIf="commentVisible">
            <p style="font-size: medium; font-weight: 480;">{{"leave.a.review" | translate}}</p>
            <textarea class="form-control" id="reviewInput" style="height: 4.5rem;" [(ngModel)]="comment" name="comment" rows="4" cols="40" placeholder="{{'did.you.enjoy' | translate}} {{selectedApp.title}}?"></textarea>
            <button type="submit" class="submit">{{"post" |translate}}</button>
          </div>
        </div>
    </form>


    </div>
  </div>


  <div style="width: 80%">
    <h2>{{'details' | translate}}</h2>
    <ul>
      <li>• {{'size' | translate}}: {{selectedApp.size}}Mb</li>
      <li>• {{'version' | translate}}: {{selectedApp.version}}</li>
      <li>• {{'category' | translate}}: {{selectedApp.category! | translate}}</li>
      <li>• {{'developer' | translate}}: {{selectedApp.creator}}</li>
    </ul>
  </div>

  <button class="back-button" (click)="goBack()">{{'back' | translate}}</button>

</div>
