<div class="app-details" *ngIf="selectedApp">
  <div class="app-header">
    <img [src]="selectedApp.image_url" alt="app icon" class="app-icon">
    <div class="app-info"> 
      <h1>{{selectedApp.title}}</h1>
      <p>{{selectedApp.creator}}</p> 
      <div class="app-stats">
        <p style="margin-bottom: 0.5rem;">{{selectedApp.rating}} ★</p>
        <p>{{selectedApp.comments_ratings.length}} Reviews | {{selectedApp.downloads | shorten }}<img style="margin-left: 0.2rem;margin-bottom: 0.2rem;width: 1.1rem; height: 1.3rem;" src="./assets/img/app-items/downloads.png" alt="Download icon"></p> 
      </div>
      <button (click)="downloadApp()">Download {{selectedApp.version}}Mb</button>
    </div>
  </div>
  
  <div class="app-description">
    <h2>Description</h2>
    <p>{{selectedApp.description}}</p>
  </div>
  
<div class="app-screenshots">
  <h2>Screenshots</h2>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
   <div ngxSlickItem *ngFor="let screenshot of selectedApp.screenshots; let i = index" class="slide">
    <img [src]="screenshot" alt="app screenshot" (click)="openLightbox(i)">
   </div>
  </ngx-slick-carousel>
</div>

    
   
   <div style="width: 80%">
    <h2>Reviews</h2>
  </div>
  <div style="width: 80%">
    <div class="app-reviews">
      <ul style="flex-direction: column;">
        <li *ngFor="let review of selectedApp.comments_ratings" class="review">
          <p class="user">{{review.username}}</p> 
          <div class="rating-container">
            <span class="rating-number"></span>
            <ngb-rating [(rate)]="review.rating" [max]="5" [readonly]="true"></ngb-rating>
            <time class="date">{{review.date_submitted | date:'dd/MM/yyyy'}}</time>
          </div>
          <p class="comment">{{review.comment}}</p>
        </li>
      </ul>
    </div>
    
    
  <div style="width: 80%">
    <h2>Details</h2>
    <ul>
      <li>Size: NoSize</li>
      <li>Version: {{selectedApp.version}}</li>
      <li>Category: {{selectedApp.category}}</li>
      <li>Developer: {{selectedApp.creator}}</li>
    </ul>
  </div>
  <div style="color: white;">.
  </div>
  <div style="color: white;">.</div>
  <!-- <div class="app-permissions">
    <h2>Permissions</h2>
    <ul>
      <li *ngFor="let permission of selectedApp.permissions">• {{permission}}</li>
    </ul>
  </div> -->

  <!-- add a button element with a click event that calls the goBack function -->
  <button class="back-button" (click)="goBack()">Back</button>

</div>
