<div class="container">
  <div class="header">
  <img src="./assets/img/header/Header.jpg" alt="Banner" class="header-img"> 
  <img src="./assets/img/GM_Studio_Logo.png" width="400" alt="studio-logo" class="logo-img" />
  </div>
  <div class="main">
  <app-searchbar></app-searchbar> 
  <app-app-list (showListChange)="onShowListChange($event)" *ngIf="showList"></app-app-list>
  <app-details *ngIf="!showList"></app-details>
  </div>
  <div class="footer">
  <div class="col-12 d-flex justify-content-center align-items-center">
  This is the GeoMakeIt Marketplace Footer
  </div>
  </div> 
  </div>
 