
<div class="app-item" [class.hovered]="isHovered" (mouseover)="toggleHover()" (mouseout)="toggleHover()">
  <div class="left-content">
    <img [src]="app.image_url" alt="App icon" class="app-img">
  </div>
  <div class="right-content"> 
    <div class="app-title">{{ app.title }}</div> 
    <p class="description">{{ app.description | truncate:100 }}</p>
    <div class="app-info"> 
      <p class="rating">
        {{ app.rating }}
        <span class="star">★</span>
        <span class="downloads">{{ app.downloads | shorten }}<img src="./assets/img/app-items/downloads.png" alt="Download icon"></span>
      </p>
    </div>
  </div>
</div>



<!-- <div class="row app-item mt-5 gx-2 " [class.hovered]="isHovered" (mouseover)="toggleHover()" (mouseout)="toggleHover()">
  <div class="col-6">
    <div>
      <img [src]="app.image_url" alt="App icon" style="width: 100%; height: 100%">
    </div>
      <h3 class="app-title">{{ app.title }}</h3>
      <p class="rating">
        {{ app.rating }}
        <span class="star">★</span>
        <span class="downloads">{{ app.downloads | shorten }}<img src="./assets/img/app-items/downloads.png" alt="Download icon"></span>
      </p>
  </div>
  <div class="col-6">
    <p class="description">{{ app.description | truncate:100 }}</p>
  </div>
</div> -->

