<div class="app-item" [class.hovered]="isHovered" (mouseover)="toggleHover()" (mouseout)="toggleHover()">
  <div class="left-content">
    <img [src]="app.image_url ? app.image_url : defaultImage" alt="App icon" class="app-img" (error)="onError($event)">
  </div>
  <div class="right-content">
    <div class="app-title">{{ app.title }}</div>
    <p style="font-size:0.80rem;max-height:100%;overflow:hidden;text-overflow:ellipsis;white-space:normal;margin-bottom: 0.2rem;">{{ app.description | truncate:100 }}</p>
    <div class="app-info">
      <p class="rating">
        {{app.rating | nodecimals}}
        <span class="star">★</span>
        <span class="downloads">{{ app.downloads | shorten }}<img style="width: 0.8rem; height: 1rem;" [src]="downLoadImage" alt="Download icon"></span>
      </p>
    </div>
  </div>
</div>