.app-item {
  border: 0.01rem solid rgba(209, 101, 142, 0.308);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(83, 35, 35, 0.438);
  background-color: rgba(255, 255, 255, 0.774);
  width: 17rem;
  height: 10.5rem;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
}

.app-item.hovered {
  opacity: 0.9;
  transform: translateY(-5px);
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(83, 35, 35, 0.6);
}

.app-img {
  width: 4rem;
  height: 4rem;
  align-self: center;
}

.app-info {
  display: flex;
  flex-direction: column;
}

.left-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p.rating {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  align-self: center;
}

p.description {
  font-size: 0.85rem;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-left: 1rem;
  white-space: pre-wrap;
}


.rating {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.rating .star {
  color: gold;
  margin-right: 0.2rem;
}
.downloads img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.3rem;
}

.downloads {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.app-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  align-self: center;
}