.app-row {
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
 }

.category-tags{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
  flex-wrap: nowrap;
}

.tags{
  margin: 0.5rem;
  text-align: center;
  border: 0.01rem solid rgba(88, 5, 70, 0.623);
  box-shadow: 2px 2px 4px 1px rgba(51, 13, 45, 0.274);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.959);
  background-color: #751b5aef;
}