.app-row {
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
 }

 .category-tags {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tags {
  margin: 0.5rem;
  text-align: center;
  border: 0.01rem solid rgba(121, 62, 108, 0.726);
  box-shadow: 2px 2px 4px 1px rgba(51, 13, 45, 0.082);
  border-radius: 8px;
  color: rgb(133, 46, 100);
  background-color: #52073c00;
  cursor: pointer; 
  transition: background-color 0.3s, opacity 0.3s; 
}

.tags:hover {
  background-color: rgb(139, 40, 95);
  opacity: 0.8;
  color: white;
}


.active {
  border: 0.12rem solid rgb(241, 175, 227);
  background-color: rgb(151, 27, 95) !important;
  color: white !important;
}

