<div class="category-tags">
  <button class="tags" mat-button [ngClass]="{'active': activeCategory === category}" *ngFor="let category of categories" (click)="toggleCategory(category)">{{category}}</button>
</div>  
<ng-container *ngFor="let category of categories">
  <div *ngIf="activeCategory === category">
     <h3>{{category}}</h3> 
     <div style="display: flex; overflow-x: auto; white-space: nowrap; align-items: center;">
         <app-app-item *ngFor="let app of apps | categoryFilter:category | sortByAverageRating:'desc'" [app]="app" (click)="selectApp(app)"></app-app-item> 
     </div> 
  </div>
</ng-container>
<div *ngIf="activeCategory === ''">
  <h3>Best rated</h3> 
  <div style="display: flex; overflow-x: auto; white-space: nowrap; align-items: center;">
      <app-app-item *ngFor="let app of apps | sortByAverageRating:'desc'" [app]="app" (click)="selectApp(app)"></app-app-item> 
  </div> 
</div>
<div *ngIf="activeCategory === ''">
  <h3>Most downloaded</h3> 
  <div style="display: flex; overflow-x: auto; white-space: nowrap; align-items: center;">
      <app-app-item *ngFor="let app of apps | sortBy:['downloads']:['desc']" [app]="app" (click)="selectApp(app)"></app-app-item> 
  </div> 
</div>
